@using RentingAppFrontend.Services
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<div class="sidebar">
    <h3 class="sidebar-title">Car Rent</h3>
    <nav>
        <ul class="nav-menu">
            <AuthorizeView>
                    <Authorized>
                        <AuthorizeView Roles="Admin">
                            <Authorized Context="authContext">
                                <li>
                                    <NavLink href="/basket" class="nav-link" activeClass="active">Koszyk</NavLink>
                                </li>
                                <li>
                                    <NavLink href="/car-versions" class="nav-link" activeClass="active">Samochody</NavLink>
                                </li>
                                <li>
                                    <NavLink href="/car-management" class="nav-link" activeClass="active">Zarządzaj listą</NavLink>
                                </li>
                                <li>
                                    <button class="logout-button" @onclick="Logout">Wyloguj</button>
                                </li>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="User">
                            <Authorized Context="authContext">
                                <li>
                                    <NavLink href="/basket" class="nav-link" activeClass="active">Koszyk</NavLink>
                                </li>
                                <li>
                                    <NavLink href="/car-versions" class="nav-link" activeClass="active">Samochody</NavLink>
                                </li>
                                <li>
                                    <button class="logout-button" @onclick="Logout">Wyloguj</button>
                                </li>
                            </Authorized>
                        </AuthorizeView>
                    </Authorized>
                <NotAuthorized>
                    <li>
                        <NavLink href="/basket" class="nav-link" activeClass="active">Koszyk</NavLink>
                    </li>
                    <li>
                        <NavLink href="/car-versions" class="nav-link" activeClass="active">Samochody</NavLink>
                    </li>
                    <li>
                        <NavLink href="/login" class="nav-link" activeClass="active">Zaloguj</NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </nav>
</div>

@code {
    private void Logout()
    {
        AuthService.Logout();
        NavigationManager.NavigateTo("/");
    }
}
