@using RentingAppFrontend.Services
@inject AuthService AuthService

<div class="sidebar">
    <h3>Car Rent</h3>
    <nav>
        <ul class="nav-menu">
            <AuthorizeView>
                <Authorized Context="authContext">
                    <li>
                        <NavLink href="/car-versions" class="nav-link" activeClass="active">Samochody</NavLink>
                    </li>
                    <li>
                        <NavLink href="/car-management" class="nav-link" activeClass="active">Zarządzaj listą</NavLink>
                    </li>
                    <li>
                        <button class="logout-button" @onclick="Logout">Wyloguj</button>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li>
                        <NavLink href="/car-versions" class="nav-link" activeClass="active">Samochody</NavLink>
                    </li>
                    <li>
                        <NavLink href="/login" class="nav-link" activeClass="active">Zaloguj</NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </nav>
</div>

@code {
    private void Logout()
    {
        AuthService.Logout();
    }
}
